@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  html {
    font-family: 'Poppins';
  }
}

.bottom
{
  position: relative;
  top: 2.2rem;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

.square{
  position: absolute;
  bottom: -6rem;
  width: 14.9rem;
  height: 15rem;
  border: 3px solid;
  border-right: 0;
  border-bottom: 0;
}

.bottom > .square
{
  border-color: #3D9BDB;
}

.square.second
{
  bottom: -2rem;
  border-color: #65B3E3;
}

.square.third
{
  bottom: 2rem;
  border-color: #7DBDE6;
}

@media (min-width: 640px) { 

}

@media (min-width: 768px) { 

}

@media (min-width: 1024px) {
 
}

@media (min-width: 1280px) {
}
